@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
html{
    text-align: center;
}

h1 {
    text-decoration: overline;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Spectral SC', serif;
    font-size: 50px;
  }

body {
    background-color: rgb(199, 105, 105);
    opacity: 1;
  }
  

h3 {
    border: 2px inset;
    border-radius: 12px;
    padding: 5px;
    background-color: #7c2d05;
    color: #ffffff;
    text-align: center;
    font-family: 'Almendra SC', serif;
    font-size: 20px;
}

img {
    width: 500px;
    height: 300px;
    border: 5px double rgb(203, 88, 26);
    background-color: rgb(230, 137, 23);
    margin-right: 1em;
    object-fit: none;
    object-position: center;
    opacity: 0.5;
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

img:hover {
    opacity: 1.0;
  }

a:link, a:visited {
    background-color: rgb(199, 105, 105);
    color: black;
    border: 2px solid rgb(109, 19, 19);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color: rgb(128, 11, 0);
    color: white;
  }